html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body{
	margin:0;
	background-color:#FFFFFF;
}

.navtop{
	height:50px;
	width:100%;
	background-color:black;
	color:#FFFFFF;	
	text-decoration:none;
}
.navtop ul li a{
	text-decoration:none;
	color:#FFFFFF;
}
.navmain{
	float:left;
}
.navlist{
	float:right;
}

.navtop ul li{
	display:inline-block;
	list-style-type:none;
	margin-right:20px;
}

.footbottom{
	height:50px;
	width:100%;
	background-color:black;
	color:#FFFFFF;	
	text-decoration:none;
	line-height:50px;	
}
.footer-list{
	float:right;
}
.textbox{
	font-family:"Trebuchet MS";
	font-size:32px;
	text-align:center;
	padding-top: 60px;
}


.final{
		padding-left:100px;
}
#submit{
	font-size:30px;
}
#text-display{
	width: 500px;
	height: 100px;
	resize:none;
	padding-left:30px;
	border:none;
	font-family:"Trebuchet MS";
	font-size:30px;
}
.image{
	padding-left:100px;
	cursor:pointer;
}
.pic{
	font-family:"Trebuchet MS";
	font-size:19px;
	color:red;
	position:relative;
	right:200px;
	bottom:70px;
}
.mySlides {
display:none;
}
/* Slideshow container */
.slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev, .next {
  background-color: rgb(0, 0, 0);
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgb(102, 102, 102);
}

/* Fading animation */
.Fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes Fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes Fade {
  from {opacity: .4}
  to {opacity: 1}
}



.button
{
	text-decoration:none;
background-color:#003bff;
position:relative;
left:850px;
top:80px;
border:none;
text-align:center;
color:black;
cursor:pointer;
padding:15px 32px;
font-size:30px;
font-family:"Trebuchet MS";
opacity:0.7;
border-radius:15px;
}













